/* first page styles */
.first-page__header {
  position: absolute;
  top: 30px;
  left: 30px;
}

.first-page__logo {
  width: 261px;
  height: 116px;
}

.first-page__caption {
  margin: 0 0 0 40px;
  width: 300px;
  color: #ccc;
  text-align: left;
  font-family: Ubuntu;
  font-size: 1.6rem !important;
}

.first-page__footer {
  min-height: 100%;
  margin-bottom: -635px;
  margin-top: 95px;
}

.first-page__footer-image {
  width: 130px;
}

/* end first page styles*/
/* author page styles */

.author-slide.remark-slide-content {
  padding: 0;
}

.author-slide .author {
  display: inline-block;
  background: #835778;
  min-height: 100%;
  width: 50%;
  position: relative;
}

.author-slide .author .name {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.author-slide .author .info {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  color: #fff;
}

.author-slide .info-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 30%;
  margin: auto;
}

.author-slide .contact-info {
  display: inline-block;
  width: 49%;
  position: relative;
  min-height: 100%;
}

.author-slide .contact-header {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 5rem;
  margin-top: -100px;
}

.author-slide .info, .author-slide .contact-data {
  line-height: 2rem;
}

.author-slide .contact-data {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}

/* end author page styles */
/* regular page styles */

.regular-page__background {
  position: absolute;
  bottom: 0.2rem;
  left: 1rem;
}

.regular-page__logo {
  width: 110px;
}

/* end regular page styles */
/* slide adjustments */

.remark-slide-content li {
  font-size: 2.5rem;
  line-height: 3.7rem;
}

.remark-slide-content h1 {
  font-size: 3.7rem;
}

.remark-code {
  font-size: 3rem;
  line-height: 5rem;
}

.remark-slide-content.xs-code .remark-code {
  font-size: 1.9rem;
  line-height: 2.3rem;
}

.remark-slide-content.s-code .remark-code {
  font-size: 2.5rem;
  line-height: 3.3rem;
}

.remark-slide-content.first .remark-slide-number {
  display: none;
}

.remark-slide-content p {
  font-size: 2rem;
}

/* end slide adjustments */
